* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.calContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.moneyTemp {
  position: relative;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.template {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notes,
.notesResult {
  flex: 1;
  max-width: 120px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  background: #fff6e9;
  color: #000;
  padding: 8px;
  border: none;
  outline: none;
}

.notesResult {
  max-width: 150px;
}

.label {
  font-size: 16px;
  flex: 1;
}

.Result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.clrbtn {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

.clrbtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -50%;
  left: -50%;
  background-size: 300% 300%;
  z-index: -1;
  width: 200%;
  height: 200%;
  transition: all 0.5s;
  transform: rotate(30deg);
  opacity: 0.5;
  border-radius: 10px;
}

.clrbtn:hover:before {
  background-position: right bottom;
}

.clrbtn:hover {
  background-color: #1a1a1a;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .template {
    flex-direction: row;
  }

  .notes,
  .notesResult {
    width: 100%;
    margin-bottom: 10px;
  }

  .moneyTemp {
    padding: 15px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .clrbtn {
    margin-top: 20px;
  }
}
